# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/a4webbookmarks.db
*.pem
dist/
/favcache/89e6a0649e06d83370cdf2cbfb05f363934a8d0c.dat
/favcache/89e6a0649e06d83370cdf2cbfb05f363934a8d0c.json
/jdb/f0e4c2f76c58916ec258f246851bea091d14d4247a2fc3e18694461b1816e13b/.password
