{{ template "head" $ }}
    <form method="post" action="?index={{$.Index}}" class="edit-form tab-form">
        <label for="name">Tab Name</label>: <input id="name" type="text" name="name" /><br>
        <input type="hidden" name="ref" value="{{ref}}" />
        <input type="hidden" name="branch" value="{{branchOrEditBranch}}" />
        <input type="hidden" name="return" value="{{$.Return}}" />
        <input type="submit" name="task" value="Save" />
    </form>
{{ template "tail" $ }}
