{{ template "head" $ }}
	<a href="/bookmarks/mine">View bookmarks</a><br>
	<a href="/bookmarks/edit">Edit page.</a><br>
	<b><u>How to use this?</u></b><br>
	Simply. First edit your page using the keywords below then set it as your start page.<br>
	"<URL> <Name> <Newline>" - Will create a link to URL with name, if you need to use a space make it %20 and use that.<br>
	"Category: <name> <Newline>" - Creates a category named <name>.<br>
	"Column <Newline>" - Creates a new column.
{{ template "tail" $ }}