{{ template "head" $ }}
    <form method=post action="">
        <textarea name="text" cols=60 rows=20>{{bookmarks}}</textarea><br>
        <input type=submit name="task" value="Save">
    </form>
{{ template "tail" $ }}