{{ template "head" $ }}
    {{ if $.Error }}
        <p style="color: #FF0000">
            Error: {{ $.Error }}
        </p>
    {{ end }}
    {{ template "_partials/editBookmarksForm.gohtml" $ }}

    {{ template "editNotes" $ }}
{{ template "tail" $ }}