{{define "editDialog"}}
<dialog id="edit-dialog" class="edit-dialog">
    <div class="edit-dialog-header">
        <h2 id="edit-dialog-title" style="margin: 0;">Edit</h2>
        <button id="edit-dialog-close">&times;</button>
    </div>
    <div id="edit-dialog-content"></div>
</dialog>
{{end}}
