{{define "editDialog"}}
<dialog id="edit-dialog" class="edit-dialog">
    <div class="edit-dialog-header">
        <h2 id="edit-dialog-title" style="margin: 0;">Edit</h2>
        <button id="edit-dialog-close">&times;</button>
    </div>
    <iframe id="edit-dialog-iframe" name="edit-dialog-iframe" style="width: 100%; height: 75vh; border: none;" src="about:blank"></iframe>
</dialog>
{{end}}
