<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ asset "main.css" }}">
    <link rel="icon" type="image/png" href="{{ asset "logo.png" }}">
</head>
<body>
    <table border=0 id="layout">
        <tr valign=top>
            <td width=200px id="nav">
                <strong>gobookmarks</strong><br>
            </td>
            <td>
                <p>Error: {{.Error}}</p>
            </td>
        </tr>
    </table>
</body>
</html>
