{{ template "head" $ }}
<form method="POST" action="/login/json">
    {{- if .Error }}<p style="color:red">{{ .Error }}</p>{{ end }}
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>
{{ template "tail" $ }}
