{{ template "head" $ }}
    {{- if Providers }}
    {{- range Providers }}
    <a href="{{ LoginURL . }}">Login with {{ . }}</a><br>
    {{- end }}
    {{- else }}
    <p>No providers configured. See <a href="/status">status</a>.</p>
    {{- end }}
{{ template "tail" $ }}
