{{define "popupHead"}}
<html>
<head>
    <style type="text/css">
    @import url("/main.css");
    body { background-color: transparent; margin: 0; padding: 10px; }
    textarea { width: 100% !important; height: 50vh !important; box-sizing: border-box; }
    </style>
</head>
<body class="edit-mode">
{{end}}
